.contenedor {
    width: auto;
    max-width: 1550px;
    margin: 40px auto 100px auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
    font-size: 16px;
    font-weight: 600;
  }
  
  .espacio{
    height: 60px;
  }

  .iframe{
    /*min-height: 240px;*/
    height: 700px;    
  }

  /*.row{
    margin-top: 1cm;
    padding: 1cm;
  }*/
  
  .pelicula-principal {
  font-size: 16px;
  min-height: 40.62em;
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../imagenes/cartel-portada-jason-bourne.jpg);
  background-position: center center;
  background-size: cover;
  margin-bottom: 3.12em;
  display: flex;
  align-items: end;
  }
  
  .pelicula-principal .contenedor {
  margin: 0 auto;
  margin-bottom: 6.25em;
  }
  
  .pelicula-principal .titulo {
  font-weight: 600;
  font-size: 3.12em;
  margin-bottom: 0.4em;
  }
  
  .pelicula-principal .descripcion {
  font-weight: normal;
  font-size: 1em;
  line-height: 1.75em;
  max-width: 50%;
  margin-bottom: 1.25em;
  }
  
  .pelicula-principal .boton {
  background: rgba(0,0,0, 0.5);
  border: none;
  border-radius: 0.31em;
  padding: 0.93em 1.87em;
  color: #fff;
  margin-right: 1.25em;
  cursor: pointer;
  transition: .3s ease all;
  font-size: 1.12em;
  }
  
  .pelicula-principal .boton:hover {
  background: #fff;
  color: #000;
  }
  
  .pelicula-principal .boton i {
  margin-right: 1.25em;
  }
  footer{
  background-position: center bottom;
  background-size: 100% auto;
  background-repeat: repeat-x;
  min-height: 50vh;
  }
  
  footer {
  text-align: center;
  padding: 50px 0 30px ;
  
  }
  
  footer p {
  font-size: 14px;
  }
  
  footer a.totop {
  color: #fff;
  margin-bottom: 30px;
  }
  footer a.totop:focus {
  outline: 0;
  }